#menu {
    position: relative;
    top: -2rem;
    background: rgb(246,246,246);
    border-radius: 2.5rem 2.5rem 0 0;
    padding: 2rem 0 4rem;
    margin-bottom: -2rem;
    @include desktop {
        padding: 2rem 3.5rem 4rem 3.5rem;
    }
    &__dishes {
        display: flex;
        flex-wrap: wrap;
        section {
            margin-bottom: 0;
            padding-bottom: 0;
            width: 100%;
            @include tab {
                width: 50%;
            }
            @include desktop {
                width: 33.3%;
            }
        }
    }
    #restaurant-name {
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fa-heart {
            font-size: 1.8rem;
        }
    }
    
    button {
        display: block;
        margin: auto;
        width: 12rem;
        margin-top: 3rem;
    }
}

