@mixin tab {
    @media screen and (min-width: map-get($breakpoints, tab)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin heart {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    transition: color ease-in-out .4s;
    &:hover {
        color: $color-secondary;
    }
}